<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}  <!-- Asegúrate de cargar la librería estática -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icon-page.png' %}" type="image/x-icon">
    <title>Configurar MFA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- boostrap 5-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Enlace a tu archivo CSS -->
</head>
<body style="background-image: url('{% static 'images/fondo_login.png' %}'); background-size: cover; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="login-container" >
        <div class="login-box" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">
            <div class="login-header text-center">
                <img src="{% static 'images/Logo_completo.png' %}" alt="VentasXpert Logo" class="img-fluid mx-auto d-block" style="width: 300px;"> <!-- Asegúrate de tener la imagen en la carpeta static/images -->
                <h1 class="text-center mb-4 ">¡Bienvenido de vuelta!</h1>
            </div>

            <h3 class="text-center mb-4 ">Configurar Autenticación Multifactor</h3>
            <p class="text-center" > <strong> Escanea este código QR con tu aplicación de autenticación:</strong> </p>
            <img src="data:image/png;base64,{{ qr_code }}" class="img-fluid mx-auto d-block" alt="QR Code">
            <form method="post" action="{% url 'verify_totp' %}">
                {% csrf_token %}
                <label for="otp_code" class="form-label mt-3 ">Introduce el código OTP generado por la aplicación:</label>
                <input type="text" class="form-control mb-3" id="otp_code" name="otp_code" required>
                <button type="submit" class="btn btn-primary w-100"  >Verificar</button>
            </form>

        </div>
    </div>

    <footer class="footer text-center">
        <p>©2024 VentasXpert - Todos los derechos reservados</p>
    </footer>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" ></script> <!--Boostrap 5 js-->
    

</body>
</html>