.inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #f3f3f3;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/*Estilo para barra de filtrado*/

.custom-select-wrapper {
    position: relative;
    width: 200px; /* Puedes ajustar el ancho según tus necesidades */
    font-family: Arial, sans-serif;
}

.custom-select {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000; /* Borde negro grueso */
    appearance: none; /* Elimina el estilo por defecto del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* Fondo blanco */
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.custom-select-wrapper:after {
    content: "▼"; /* Agrega un icono de flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000;
    pointer-events: none; /* Hace que el icono sea no interactivo */
}
/*ORDEN PARA IZQUIERDA A DERECHA*/


.orden_div2{

    display: flex;                /* Establece un layout flexible para los elementos internos */
    justify-content: flex-end;  /* Alinea los elementos al comienzo del contenedor */
    padding: 2%;                  /* Añade padding alrededor del contenedor para evitar que los elementos toquen los bordes */
    flex-wrap: wrap;              /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola */
    gap: 20px;      

}


/*BUSCAR STILO*/

.custom-input-wrapper {
    position: relative;
    width: 300px; /* Ajusta este valor según tus necesidades */
    font-family: Arial, sans-serif;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000; /* Borde negro grueso */
    background-color: #fff; /* Fondo blanco */
    outline: none; /* Elimina el contorno al enfocar */
    font-size: 16px;
}

.custom-input::placeholder {
    color: #666; /* Color para el texto del placeholder */
}

.custom-input-wrapper:after {
    content: "🔍"; /* Icono de lupa */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    pointer-events: none; /* Hace que el icono sea no interactivo */
}
/*Estilo boton buscar*/


.custom-button-wrapper {
    text-align: center; /* Centra el botón si es necesario */
}

.custom-button {
    background-color: #6C63FF; /* Un tono de morado */
    color: white; /* Texto blanco para contraste */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Padding generoso para un toque agradable */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de texto adecuado */
    cursor: pointer; /* Cursor de mano al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave para el hover */
    outline: none; /* Elimina el contorno al hacer clic */
}

.custom-buttonRechazar{
    background-color: #fb001d; /* Un tono de morado */
    color: white; /* Texto blanco para contraste */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Padding generoso para un toque agradable */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de texto adecuado */
    cursor: pointer; /* Cursor de mano al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave para el hover */
    outline: none; /* Elimina el contorno al hacer clic */
}

.custom-button:hover {
    background-color: #5a52d8; /* Un morado ligeramente más oscuro para el hover */
}



/*Estilo tabla*/
.custom-table {

    width: 100%;
    border-collapse: separate; /* Importante para mantener los bordes separados */
    border-spacing: 0; /* Elimina el espacio entre celdas */
    border-radius: 10px; /* Bordes redondeados para la tabla */
    overflow: hidden; /* Mantiene todo dentro de los bordes redondeados */
 
}

.custom-table td {
    padding: 8px; /* Asegura un espacio interior adecuado */
    text-align: left; /* Alineación del texto */

    overflow: hidden; /* Esconde cualquier contenido que sobrepase el tamaño de la celda */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap; /* Evita que el texto se ajuste a una nueva línea */
    max-width: 200px; /* Define un ancho máximo para las celdas */
   
}


.custom-table thead th {
    background-color:  #6C63FF;
    color: rgb(0, 0, 0);
    padding-right: 50px; /* Aumenta el padding en el último `th` del `thead` */
   

}

.custom-table tbody {
    display: block;
    height: 450px; /* Ajusta esta altura basada en la altura de tus filas para mostrar solo 5 filas */
    background-color: rgba(223, 215, 215, 0.577);
    
}


/*
.table-scroll {
    display: block;  Mantener el bloque para el desplazamiento 
    overflow-y: auto;
    height: 260px;
    max-height: 400px; ;  Altura ajustable según el número de filas que quieras mostrar 
}*/
/*.table-scroll2 {
    overflow-y: auto;
    height: 100px; ; /* Altura ajustable según el número de filas que quieras mostrar 
}
*/


.custom-table thead, .custom-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Esto ayuda a mantener la estructura de la tabla incluso con el cuerpo desplazable */
}

.custom-table th, .custom-table td {
    padding: 8px;

    text-align: left;
}



.custom-table thead th:first-child {
    padding: 8px;
    border-top: 1px solid#6C63FF; /* Solo borde superior */
    border-bottom: 1px solid #6C63FF; /* Solo borde inferior */
    background-color:#6C63FF; /* Fondo blanco, ajusta según tu diseño */
    vertical-align: middle; /* Alinea el texto verticalmente en el centro */
}

.custom-table thead th:last-child {
    border-top-right-radius: 10px; /* Redondea la esquina superior derecha del encabezado */
    padding-right: 30px; /* Ajusta según la medida exacta de la barra de desplazamiento de tu navegador */

}

.custom-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Redondea la esquina inferior izquierda de la última fila */
}

.custom-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Redondea la esquina inferior derecha de la última fila */
}

.custom-table th, .custom-table td {
    padding: 8px;
    border: 1px solid #000000; /* Opcional, depende de tu diseño actual */
}


/* Asegúrate de que las celdas del cuerpo y los encabezados coincidan en el ancho */
.custom-table th:nth-child(1), .custom-table td:nth-child(1) { width: 5%; }
.custom-table th:nth-child(2), .custom-table td:nth-child(2) { width: 10%; }
.custom-table th:nth-child(3), .custom-table td:nth-child(3) { width: 10%; }
.custom-table th:nth-child(4), .custom-table td:nth-child(4) { width: 10%; }
.custom-table th:nth-child(5), .custom-table td:nth-child(5) { width: 10%; }
.custom-table th:nth-child(6), .custom-table td:nth-child(6) { width: 10%; }
.custom-table th:nth-child(7), .custom-table td:nth-child(7) { width: 10%; }
.custom-table th:nth-child(8), .custom-table td:nth-child(8) { width: 10%; }
.custom-table th:nth-child(9), .custom-table td:nth-child(9) { width: 10%; }
.custom-table th:nth-child(10), .custom-table td:nth-child(10) { width: 10%; }
.custom-table th:nth-child(11), .custom-table td:nth-child(11) { width: 10%; }




/*Responsivo*/

@media (max-width: 768px) {
    .inventory-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .controls {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .custom-select-wrapper, .custom-input-wrapper, .custom-button-wrapper {
        flex: 1 1 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    h1 {
        width: 100%;
    }
}

/*Espacio */
.espacioSubmenu{
    margin-right: 10px;


}

/*Estilos inputs*/



.orden_div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;  /* Alinea los elementos al comienzo del contenedor */
    align-items: flex-start;
}

.orden_div > div {
    flex: 1 1 22%; /* Cada campo ocupa el 22% del contenedor en pantallas grandes */
    max-width: 300px; /* Asegura un ancho mínimo para que los campos no se vean demasiado pequeños */
    min-width: 300px;
    margin-bottom: 20px;
    max-height: 300px;
}

/* Media query para pantallas medianas */
@media (max-width: 1024px) {
    .orden_div {
        justify-content: space-evenly; /* Espacio uniforme en pantallas medianas */
    }

    .orden_div > div {
        flex: 1 1 45%; /* Ocupa el 45% del ancho en pantallas medianas, dejando espacio para 2 columnas */
        min-width: 200px;
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .orden_div {
        justify-content: center;
    }
    
    .orden_div > div {
        flex: 1 1 100%; /* Cada elemento ocupa el 100% en pantallas pequeñas */
        min-width: auto;
    }
}

/* Espaciado para los botones de acción */
.custom-button-wrapper {
    text-align: left; /* Alinea los botones a la izquierda */
    margin-top: 10px;
}

/* Botones */
.custom-button {
    background-color: #6C63FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.custom-buttonRechazar {
    background-color: #fb001d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

/* Hover effects */
.custom-button:hover {
    background-color: #5a52d8;
}
.custom-buttonRechazar:hover {
    background-color: #e63946;
}

/*Busqueda actualizado*/
.dataTables_filter {
    display: none; /* Oculta el campo de búsqueda por defecto */
}

.custom-input-wrapper {
    position: relative;
    width: 300px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #6C63FF;
    font-size: 16px;
    outline: none;
}

.custom-input::placeholder {
    color: #999;
}

.custom-input-wrapper:after {
    content: "🔍";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6C63FF;
}
/*Configuracion dataTable*/



.custom-table {
    width: 100%;
    overflow-y: auto; /* Desplazamiento vertical */
    max-height:  450pxpx; /* Define la altura máxima para la tabla */
    border-collapse: collapse;
    table-layout: fixed; /* Asegura que las columnas sean uniformes */
}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    overflow: hidden; /* Evita que el contenido salga del cuadro */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al contenido largo */
    white-space: nowrap; /* Evita que el texto se ajuste */
}

.custom-table thead th {
    background-color: #6C63FF;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .custom-table th, .custom-table td {
        font-size: 12px; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }
}

/* Fila roja para "Sin existencia" */
/* Celda roja para "Sin existencia" */
.sin-existencia {
    background-color: #ffcccc; /* Fondo rojo claro */
}

/* Celda amarilla para "Poca existencia" */
.poca-existencia {
    background-color: #fff8c4; /* Fondo amarillo claro */
}

.Suficiente {
    background-color: #dfffcd; /* Fondo verde claro */
}


