{% extends 'base.html' %}

{% block title %}Panel de Administrador{% endblock %}

{% block content %}

{% if user_role == 'Administrador' %}
    <p>Bienvenido, Administrador.</p>
{% endif %}

{% if 'add_persona' in user_permissions %}
    <p>Tienes permiso para ver los reportes.</p>
{% endif %}

<p>Accede a las opciones de administración y gestiona la tienda.</p>
<p>Rol del usuario: {{ user_role }}</p>

<!-- Formulario para cerrar sesión -->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Cerrar Sesión</button>
</form>
{% endblock %}
