{% extends 'base.html' %}

{% block title %}Reportes inventario- VentasXpert{% endblock %}
{% block options %}
    <a href="{% url 'informacionInventario' %}">Informacion</a>
    <a href="{% url 'inventarioInventario' %}">Inventario</a>
    <a href="{% url ' inventario_administrar' %}">Administrar</a>
    <a href="{% url 'reportes_home' %}">Reporte</a>

{% endblock %}


{% block content %}


    <p>Bienvenido, a la seccion de Reportes.</p>



<p>Accede a las opciones de administración y gestiona la tienda.</p>



{% endblock %}
