{% extends 'base.html' %}
{% load static %}

{% block title %}Caja - VentasXpert{% endblock %}
{% block options %}
    <a href="{% url 'cajero_home'%}">Caja</a>
    <a href="{% url 'vistaHistorial' %}">Historial</a>
    <a href="#">Inventario</a>
{% endblock %}

{% block content %}
<!-- Estilos -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/caja.css' %}">
<style>
    /* Estilo para el tooltip de búsqueda */
    .buscarProductoInput {
        position: relative; /* Asegura que el tooltip se posicione respecto al contenedor */
        padding: 5px; 
        border-radius: 10px; 
        border: 1px solid #464646;
    }
    
    .search-tooltip {
        position: absolute;
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        max-width: 300px;
        z-index: 1000;
        top: 100%; /* Coloca el tooltip justo debajo del campo de búsqueda */
        left: 0; /* Alinea el tooltip con el borde izquierdo del campo de búsqueda */
        margin-top: 5px; /* Espacio entre el campo de búsqueda y el tooltip */
    }
    

    .search-result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    .search-result:hover {
        background-color: #f2f2f2;
    }

    .add-button {
        background-color: #4400cd;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 0.8em;
    }

    .add-button:hover {
        background-color: #310093;
    }

    .Productos-Caja a {
        background-color: #4400cd;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .Productos-Caja a:hover {
        background-color: #310093;
    }

</style>
{% endblock %}
<div class="seccionInvetario mt-0">
    <div class="TituloTablaC">
        <h2 style="flex: 1;">Historial de compras</h2>
        <form class="BuscarProducto-cajero">
            <div class="buscarProductoInput">
                <input type="text" name="q" placeholder="Buscar...">
                <button type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre del archivo</th>
                <th>Fecha de venta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in pdf_files %}
            <tr>
                <td>{{ pdf.name }}</td>
                <td>{{ pdf.creation_time|date:"d/m/Y H:i:s" }}</td>
                <td>
                    <a href="{% url 'serve_pdf_ticket' pdf.name %}" target="_blank" class="btn btn-primary"><i class="bi bi-folder2-open"></i> Ver</a>
                    <a href="{% url 'serve_pdf_ticket' pdf.name %}" download="{{ pdf.name }}" class="btn btn-success"><i class="bi bi-download"></i> Descargar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay archivos disponibles</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modales  -->
<div class="modal fade" id="cancelarVentaModal" tabindex="-1" aria-labelledby="cancelarVentaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelarVentaModalLabel">¿Cancelar venta?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Se eliminaran todos los productos del carrito actual.</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'eliminar_carrito_actual' %}" class="btn btn-danger" style="text-decoration: none;">
                    Si, cancelar
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmacionVentaModal" tabindex="-1" aria-labelledby="confirmacionVentaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionVentaModalLabel">¿Confirmar cobro?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Total de productos: {{ total_productos }}</p>
                <p>Costo total de los productos: ${{ total_costo_productos }}</p>
                <p>IVA calculado: N/A</p>
                <p>Descuento: N/A</p>
                <div>
                    <h4 class="espaciadoVenta">Total a pagar: ${{ total_costo_productos }}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cobro_exitoso">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cobro_exitoso" tabindex="-1" aria-labelledby="cobro_exitosoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cobro_exitosoLabel">Cobro exitoso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Se ha realizado el cobro exitosamente.</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'eliminar_carrito_actual' %}" class="btn btn-secondary" style="text-decoration: none;">
                    Aceptar
                </a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ticket_generado">Ver Ticket</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ticket_generado" tabindex="-1" aria-labelledby="ticket_generadoLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticket_generadoLabel">Ticket generado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Plantilla del ticket -->
                <div class="ticket-container">
                    <div class="ticket-header">
                        <h4>VentasXpert</h4>
                        <p>Fecha: <span id="ticket-date">{{ fecha_actual }} {{ hora_actual }}</span></p>
                        <p>Ticket #: <span id="ticket-number">1</span></p>
                    </div>
                    <div class="ticket-body">
                        <table class="ticket-table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody id="ticket-items">
                                <!-- Detalles de los productos -->
                                {% for carrito in carritoProductos %}
                                    <tr>
                                        <td>{{ carrito.producto.nombre }}</td>
                                        <td>{{ carrito.cantidad }}</td>
                                        <td>${{ carrito.producto.precio_tienda }}</td>
                                        <td>${{ carrito.subtotal }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="ticket-footer">
                        <p>Total de productos: {{ total_productos }}</p>
                        <p>Precio total: ${{ total_costo_productos }}</p>
                        <p>IVA: N/A</p>
                        <p>Total a pagar: ${{ total_costo_productos }}</p>
                    </div>
                </div>
                <!-- Fin de la plantilla -->
            </div>
            <div class="modal-footer">
                <a href="{% url 'eliminar_carrito_actual' %}" class="btn btn-secondary" style="text-decoration: none;">
                    Aceptar
                </a>
                <button onclick="window.location.href='{% url 'generar_ticket_pdf' %}'" class="btn btn-primary">Imprimir</button>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleTooltip(input) {
        var tooltip = document.getElementById("searchTooltip");
        var filter = input.value.toLowerCase();
        var results = tooltip.getElementsByClassName("search-result");

        // Mostrar u ocultar el tooltip
        tooltip.style.display = filter ? "block" : "none";

        // Iterar sobre cada resultado y verificar si coincide el filtro en nombre o código
        Array.from(results).forEach(function(result) {
            var productName = result.getAttribute("data-nombre").toLowerCase();
            var productCode = result.getAttribute("data-codigo").toLowerCase();
            if (productName.includes(filter) || productCode.includes(filter)) {
                result.style.display = "flex"; // Mostrar resultados coincidentes
            } else {
                result.style.display = "none"; // Ocultar resultados no coincidentes
            }
        });
    }
</script>


{% endblock %}
