{% extends 'base.html' %}
{% load static %}




{% block title %}Usuarios roles- VentasXpert{% endblock %}
{% block options %}
    <a href="{% url 'usuarios' %}">Usuarios</a>
    <a href="{% url 'permisos' %}">Permisos</a>
    <a href="{% url 'roles' %}">Roles</a>
{% endblock %}



{% block content %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/permisos.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_permisos.css' %}">
    {% endblock %}

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VentasXpert - Permisos</title>
        
    </head>
    <body>
    
        <button class="button" onclick="openModal()">Nuevo Permiso</button>

            <!-- Modal -->
        <div id="permissionModal" class="modal">
            <div class="modal-content">
                <h2>Nuevo Permiso</h2>
                <form>
                    <div class="form-group">
                        <label for="permiso">Permiso</label>
                        <input type="text" id="permiso" name="permiso" placeholder="Ingrese el nombre del permiso">
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="guardar">Guardar</button>
                    <button class="cancelar" onclick="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    
        <div class="search-container">
            <div class="search-box">
                <input type="text" placeholder="Buscar permiso">
                <button><i class="fa fa-search"></i></button>
            </div>
    
            <div class="filter-container">
                <button onclick="toggleDropdown()" class="filter-button">Filtrar <i class="fa fa-chevron-down"></i></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Opción 1</a>
                    <a href="#">Opción 2</a>
                    <a href="#">Opción 3</a>
                </div>
            </div>
        </div>
    
        <!-- Tabla de permisos con 5 filas -->
        <table>
            <thead>
                <tr>
                    <th>Editar y Borrar</th>
                    <th>Permiso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="table-icons">
                            <button class="edit-button">
                                <i class="fa fa-pencil button-icon"></i> Editar
                            </button>
                            <button class="delete-button">
                                <i class="fa fa-trash button-icon"></i> Borrar
                            </button>
                        </div>
                    </td>
                    <td>Permiso 1</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-icons">
                            <button class="edit-button">
                                <i class="fa fa-pencil button-icon"></i> Editar
                            </button>
                            <button class="delete-button">
                                <i class="fa fa-trash button-icon"></i> Borrar
                            </button>
                        </div>
                    </td>
                    <td>Permiso 2</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-icons">
                            <button class="edit-button">
                                <i class="fa fa-pencil button-icon"></i> Editar
                            </button>
                            <button class="delete-button">
                                <i class="fa fa-trash button-icon"></i> Borrar
                            </div>
                        </td>
                        <td>Permiso 3</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-icons">
                            <button class="edit-button">
                                <i class="fa fa-pencil button-icon"></i> Editar
                            </button>
                            <button class="delete-button">
                                <i class="fa fa-trash button-icon"></i> Borrar
                            </div>
                        </td>
                        <td>Permiso 4</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-icons">
                            <button class="edit-button">
                                <i class="fa fa-pencil button-icon"></i> Editar
                            </button>
                            <button class="delete-button">
                                <i class="fa fa-trash button-icon"></i> Borrar
                            </div>
                        </td>
                        <td>Permiso 5</td>
                </tr>
            </tbody>
        </table>
    
        <div class="info-text">
            Apartado para ver Permisos e información
        </div>
    

    </body>
    </html>
    



<script src="{% static 'js/permisos.js' %}"></script>
<script src="{% static 'js/modal_permisos.js' %}"></script>


{% endblock %}