{% extends 'base.html' %}
{% load static %}



{% block title %}Administrar inventario- VentasXpert{% endblock %}
{% block options %}
    <a href="{% url 'informacionInventario' %}">Informacion</a>
    <a href="{% url 'inventarioInventario' %}">Inventario</a>
    <a href="{% url ' inventario_administrar' %}">Administrar</a>
    <a href="{% url 'reportes_home' %}">Reporte</a>

{% endblock %}



{% block content %}
<!-- Estilos -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/administrar.css' %}">
{% endblock %}
<!-- Contenido -->
<div class="info-boxes">
    <div id="openAgregarNuevo" class="box blue">
        <span class="text">Agregar nuevo producto</span>
        <img src="{% static 'images/agregar-producto.png' %}" alt="Logo">
    </div> 

    <div id="openAgregarProducto"  class="box green">
        <span class="text">Agregar productos al inventario</span>
        <img src="{% static 'images/abrir-caja.png' %}" alt="Logo">
    </div>



    <!--         -->
    <div  id="openActualizarProducto"   class="box purple">
        <span class="text">Actualizar producto</span>
        <img src="{% static 'images/actualizar.png' %}" alt="Logo">
    </div>


    
</div>
<script src="{% static 'js/Inventario/inventario.js' %}"></script>
{% endblock %}