{% extends 'base.html' %}
{% load static %}

{% block title %}Información inventario - VentasXpert{% endblock %}

{% block options %}
<a href="{% url 'informacionInventario' %}">Información</a>
<a href="{% url 'inventarioInventario' %}">Inventario</a>
<a href="{% url ' inventario_administrar' %}">Administrar</a>
<a href="{% url 'reportes_home' %}">Reporte</a>
{% endblock %}

{% block content %}
<!-- Estilos -->
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/inventario_informacion.css' %}?v={ timestamp }">
{% endblock %}
<!-- Contenido -->
<div class="info-boxes">
    <div class="box blue">
        <span class="text">Total de productos: {{ total_productos }}</span>
        <img src="{% static 'images/caja-fragil.png' %}" alt="Logo">
    </div>


    <div class="box blue">
        <span class="text">Cantidad de productos: {{ total_cantidad_productos }}</span>
        <img src="{% static 'images/caja-fragil.png' %}" alt="Logo">
    </div>

    <div class="box yellow">
        <span class="text">Productos con poca cantidad: {{ poca_cantidad }}</span>
        <img src="{% static 'images/productos_cantidad.png' %}" alt="Logo">
    </div>
    <div class="box red">
        <span class="text">Productos sin existencia: {{ sin_existencia }}</span>
        <img src="{% static 'images/productos-faltaStock.png' %}" alt="Logo">
    </div>
    <div class="box green">
        <span class="text">Valor en tienda en productos: {{ valor_tienda|floatformat:2 }}</span>
        <img src="{% static 'images/bolsa-de-dinero.png' %}" alt="Logo">
    </div>
    <div class="box purple">
        <span class="text">Reinversión en stock: {{ reinversion|floatformat:2 }}</span>
        <img src="{% static 'images/reinversion.png' %}" alt="Logo">
    </div>
</div>
{% endblock %}
