/* Estilos generales del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}
  
.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Fija un ancho razonable */
    max-width: 30%; /* Asegura que no exceda el ancho de la pantalla */
    box-sizing: border-box; /* Asegura que padding y border no incrementen el ancho total */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.confirm-btn {
    background-color: #9b37ff; /* Color púrpura */
    color: white;
}

.cancel-btn {
    background-color: #ff2b56; /* Color rojo */
    color: white;
}

.confirm-btn:hover, .cancel-btn:hover {
    opacity: 0.9;
}

/* Estilo para el botón que abre el modal */
.open-modal-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para la "X" de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
